#язык
language: node_js
#версия ноды
node_js:
  - "8"

#виртуальная машина у travis
dist: trusty

#сервисы, которые travis будет использовать
services:
  - mongodb
  - redis
#какие переменные окружения исп
env:
  - NODE_ENV=ci
  - PORT=3000

#кжшировать node_modules чтобы каждый раз travis не скачивал его
cache:
  directories:
    - node_modules
    - client/node_modules

#что нужно выполнить, чтобы подготовить проект к сборке
install:
  - npm install
  - npm run build # это специфично конкретно для данного приложения, чтобы собрать реакт

# какие команды выполнить после подготовки
script:
  - nohup npm run start & #стартует сервер в фоновом режиме и не гасить его, если закрыть терминал
  - sleep 3 #если сразу выполнить тесты, то сервак еще может не успел стартовать
  - npm run test #запуск тестов
